* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

.header {
    margin: 1rem 0;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  color: #fff;
}

.score p:first-child {
  background: #5a7bb9;
  border-radius: 2rem;
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

.score p:last-child {
  background: #4b49c7;
  border-radius: 2rem;
  padding: 5px;
  width: 20rem;
  margin: 0 auto;
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}

.choice:hover {
    cursor: pointer;
    color: #858585;
  }
  
  .restart-btn {
  display: none;
  background: #858585;
  color: #333;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 1.5rem;
  border-radius: 20px;
}

.restart-btn:hover {
  background: #adadad;
  color: #dddddd;
}

.text-win {
  color: #28a745;
}

.text-lose {
  color: #dc3545;
}